@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: "Manrope", sans-serif; */
/* font-family: "Merriweather", serif; */
/* font-family: "Lexend", sans-serif; */

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  background-color: #f7f5f2;
}

/* container style */
.container_fluid {
  @apply max-w-full 2xl:max-w-[1280px] px-4 lg:px-12 2xl:px-0 2xl:mx-auto;
}
.title-text {
  @apply text-base leading-6 md:text-[48px] md:leading-[67px] font-bold;
}
.section-header-title {
  @apply text-xl leading-[30px] lg:text-[48px] md:leading-[67px] font-bold;
}
.navbar-box-shadow {
  box-shadow: 0px 1px 4px 2px #3c40430d;

  box-shadow: 0px 1px 2px 0px #3c40431c;
}
.nav-ai-button-box {
  box-shadow: 0px 2px 4px 0px #1b1c1d2e;
  background: linear-gradient(92.14deg, #3b48df 0%, #cd34db 102.52%),
    radial-gradient(
      100% 100% at 50% 0%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
}
.footer-subscription {
  box-shadow: 0px 2px 4px 0px #0000001a;

  box-shadow: 0px 2px 12px 0px #0000001f inset;
}
.footer-language {
  box-shadow: 0px 1px 2px 0px #0000001a;
}
.hero-info-box {
  box-shadow: 0px 22.24px 37.07px -22.24px #0000001a;

  box-shadow: 0px 3.71px 11.12px 0px #00000014;
}
.hero-search-box {
  box-shadow: 0px 2px 4px 0px #0000001a;

  box-shadow: 0px 2px 12px 0px #0000001f inset;
}
.luxury-properties {
  box-shadow: 0px -4px 4px -2px #10182814;

  box-shadow: 0px 2px 8px -2px #10182814;
}
.button-shadow-explore {
  box-shadow: 0px 2px 4px 0px #0000001a;

  box-shadow: 0px 2px 12px 0px #0000001f inset;
}
.three-steps-card {
  box-shadow: 0px 1px 2px 0px #1018280f;

  box-shadow: 0px 1px 3px 0px #1018281a;
}

.three-steps-text {
  background: linear-gradient(0deg, #0954e4 0%, rgba(9, 84, 228, 0.4) 100%);
}
.three-steps-pro-card {
  box-shadow: 0px 2px 4px 0px #00000014;
}
.buy-home-submit {
  box-shadow: 0px 2px 4px 0px #0000001a;

  box-shadow: 0px 2px 12px 0px #0000001f inset;
}
.our-client-card-box {
  box-shadow: 0px 2px 4px -2px #1018280f;

  box-shadow: 0px 4px 8px -2px #1018281a;
}

/* ###### slider custom design ########## */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important; /* Hide default Swiper arrow icons */
}

.custom-prev-button,
.custom-next-button {
  position: absolute;
  top: 170px !important;
  transform: translateY(-50%);
  background-color: white;
  color: black;
  width: 56px !important;
  height: 56px !important;
  border: 2px solid white;
  box-shadow: 0px 22.24px 37.07px -22.24px #0000001a !important;
  box-shadow: 0px 3.71px 11.12px 0px #00000014 !important;
  border-radius: 100%;
  cursor: pointer;
  z-index: 10;
}
.custom-prev-button {
  left: -25px !important;
  color: #04074e !important;
}
.custom-next-button {
  right: -25px !important;
  color: #04074e !important;
}
.custom-prev-button:hover,
.custom-next-button:hover {
  background-color: #0954e5;
  color: white !important;
}
